.skills {
    max-width: 1184px;
    margin: 0 auto 8rem;
    &__title {
        font-size: 2.25rem;
        margin: 0;
        font-weight: 600;
        padding: 1rem 0;
        border-bottom: solid 2px $bali-hai;
        margin-bottom: 128px;
    }
}

.skills-list {
    padding: 8rem 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    &__item {
        font-style: normal;
        font-weight: normal;
        font-size: 1.125rem;
        padding: 11px 0 11px 30px;
        position: relative;
        &::before {
            position: absolute;
            top: 10px;
            left: 0;
            content: '';
            display: block;
            width: 18px;
            height: 18px;
            background: url('../assets/img/check-circle-1.svg');
            .skills-list--light-sea-green & {
                background: url('../assets/img/check-circle-2.svg');
            }
            .skills-list--teal & {
                background: url('../assets/img/check-circle-3.svg');
            }

        }
    }
    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        list-style-type: none;
        padding: 0;
        margin-top: calc(1.5rem + 4px);
        column-gap: 1.5rem;
    }
    &__title {
        font-weight: 600;
        font-size: 2rem;
        line-height: 2.75rem;
        margin: 0;
        &::before {
            content: '';
            width: 80px;
            height: 4px;
            display: block;
            background: $turquise;
            border-radius: 8px;
            margin-bottom: 1.5rem;
            .skills-list--light-sea-green & {
                background: $light-sea-green;
            }
            .skills-list--teal & {
                background: $teal;
            }
        }
    }
}